/* .vaibhav{
    position: absolute;
    right: 20px;
} */

/* need to implement the code refactor */

body{
    font-family:Montserrat;
    /* font-weight: bold; */
}
#title{ /* targeting id with # symbol , html elem with name and class with .symbol*/
    background-color: #ff4c68;
    /* background-color: rgb(85, 85, 85); */
    color: white;
} 
    

h1,h2,h3,h4,h5,h6{
    /* font-family:"Montserrat-Thin"; by angela  */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Montserrat', sans-serif;   
    font-size: 3.5rem;
    line-height: 1.5;
    */
}

/* big-heading */

.big-heading{
    font-family: 'Montserrat', sans-serif;   
    font-size: 3.5rem;
    line-height: 1.5;
} 

.container-fluid{
    padding: 3% 15% 6%;
}

.img-aps{
    margin-right: 2px;
    margin-bottom: 3px;
}

.img-pls{
    margin-right: 1px;
    margin-bottom: 5px;
} 
 
.vaib:hover{
    background-color: #ff4c68;
    color: black;
    /* border: 2px solid black; */
}

/* bottom */
.download-btn{
    font-family: Montserrat-light;
    margin: 5% 3% 5% 0;
    
}
/* navigation bar */
.navbar{
    padding: 0 0 4.5rem; /* left right bottom*/
}

.navbar-brand{
    /* font-family: "Ubuntu"; */
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0px 18px; /*top-bottom and left-right*/
}

.nav-link{
    font-size: 1.2rem;
    font-family: Montserrat-light;
}

/* title image */
.title-image{
    /* background-color: royalblue; */
    width: 20%;
    /* margin-left: 10rem;
    margin-top: -1rem; */
    transform: rotate(23deg);
    position: absolute;
    right: 25%;
}

.spn{
    color: rgb(151, 115, 248);
    font-style: italic;
    text-decoration: underline;
}

/* features */

#features{
     /* font-family: Montserrat-light; */
     /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-weight:bold; */
     padding: 7% 15%  ;
     background-color: white;
     position: relative;
     /* z-index: 1; */
    
} 

.feature-title{
    font-size: 1.5rem;
}

#features h3{
    font-family: Montserrat-Bold;
}

#features p{
    /* color:#8f8f8f; */
    color: #8f8f8f;
    font-weight: bold;
}

.feature-box{
    text-align: center;
    padding: 5%;
    font-family: Montseerrat-light;
    
}

.featimg{
     margin-bottom: 1rem;   /*1 rem is equal to 16px */
}

.featimg:hover{
    height: 52px;
    width: 52px;

}

/* testimonial section */


#testimonials{
    
    text-align: center;
    /* background-color: #bd915f; */
    /* color: #2f0547; */
    color: white;
    background-color: #ef8172;
}

.carousel-item{
    padding: 7% 15%; /*top-bottom left-right */
}

.testimonial-text{
    font-family: Montserrat;
    font-size: 3rem;
    line-height: 2;

}
/* #testimonials h2{
    font-family: Montserrat;
    font-size: 3rem;
    line-height: 4rem;
} */

.testimonial-image{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    /* margin: 7% 0%; */
    text-align: center;
    /* background-color: #bd915f; */
    background-color: #ef8172;
    padding-bottom: 4%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
    /* padding: 2%; */ 
}


/* pricing section */

 
/*
 #pricing {
    margin: 12rem 0rem;
    padding:4% 15% 12%;
    background-color:rgb(136,180,158);
}
*/

/*
.pricing-top{
    padding: 3% 15% 6%;
    text-align: center;
    /* font-size: 3rem; */
    /* color: rgb(240, 240, 240);
   color: rgb(78, 49, 49);
}
*/

/*
.pricing-card{
    /* padding: 7% 15%; 
    
    text-align: center;
    font-family: "Monteserrat";
    font-weight: bold;
    color: rgb(66, 3, 3);
}
*/

/*
.card{
    background-color:rgb(234, 236, 236);
} 
*/

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-text{
    font-size: 3rem;
    line-height: 1.5;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
    /* font-family: Montserrat-light; */
}

.pricing-col{
    padding: 3% 2%;
}

.btn-outline-secondary{
    color: black;
}

.vibha:hover{
    color:black;
    background-color:rgb(234, 236, 236);
}

/* media query */

@media (max-width:992px ){
     #title{
         text-align: center;
     }
     .title-image{
         position: static;
         width: 50%;
         transform: rotate(15deg);
         margin: 0% 15%;
     }
 }

 /* call to action */

#cta{
     background-color: #ff4c68;
     color: white;
     padding: 7% 15%;
     text-align: center;
 }

.ctah3{   /* same as big-heading*/
     font-family: Montserrat;
     font-size: 3.5rem;
     line-height: 1.5;
 }

/* footer */

#footer{
    padding: 5% 15%;
    text-align: center;
    color: grey;
    font-family: Montserrat-light;
}

.sm-logo{
    width: 1.5%;
    margin:20px 10px;
} 

/* my style */
/* .foot-btn{
    margin: 6% 2% 3%;
    
}
#footer{
    padding: 5% 13%;
    text-align:center;
    color: grey;
    font-family: Montserrat-light;
}
.sm-logo{
    padding-bottom:20px ;
}
*/
